.footer {
    background-color: #262626;
    color: #fff;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.texto-footer {
    padding: 0.5%;
    text-align: center;
}